<template>
    <div class="panel panel-default">
        <div class="panel-heading">Dashboard</div>

        <div class="panel-body">
            You are logged in!
            <input type="text" class="form-control" v-model="newMessage" @click="press">
            <h3>Messages</h3>

            <ul v-for="post in posts">
                <li>
                    <b>
                        @{{post.username}} says: @{{post.message}}
                    </b>
                </li>
                
            </ul>
            
        </div>
    </div>

</template>

<script>
    export default {
        
        data() {
            return {

                posts: [],
                newMessage: ''
            }
        },

        ready() {
            Echo.channel('channel-name')
                .listen('OrderShipped', (data) => {
                    
                    this.posts.push({
                        message: data.order.message,
                        username: data.user.name
                    });
                });
        },

        methods: {
            
            press() {
                console.log('hello');
                this.$http.post('/message/', {message: this.newMessage})
                    .then((response) => {
                        this.newMessage = ''
                    });
            }
        
        }
    }
</script>