<template>
	<div class="row">
		<!-- checkin -->
	    <div class="col">
	    	<label for="checkout" class="text-center">Check In</label>
	        <datepicker name="checkin" :format="format" 
	        	:highlighted="highlighted" :disabled="disabled" 
	        	:inline="true">
	       	</datepicker>
	    </div>
		    
		<!-- checkout -->
	    <div class="col">
	    	<label for="checkout" class="text-center">Check Out</label>
	        <datepicker name="checkout" :format="format" 
	        	:highlighted="highlighted" :disabled="disabled" 
	        	:inline="true">
	        </datepicker>
	    </div>

		<div class="col align-self-center">
			<button type="submit" class="btn btn-lg btn-danger">Request to Book</button>
		</div>

	</div>
</template>
<script>
	import Datepicker from 'vuejs-datepicker';
	let date = new Date();
	export default {
		components: {
			Datepicker
		}, 
		props: ['propertyId'],
		data () {
			return {
				format: 'yyyy-MM-dd',
				disabled: {
					to: new Date(date.getFullYear(), date.getMonth(), date.getDate()),
					from: null,
					dates: []
				}
			}     
		}, 
		ready() {
			this.$http.get('http://saamin.com/api/v1/properties/' + this.propertyId + '/reservations')
				.then((response) => {
				for(let date of response.body.data){
					this.disabled.dates.push(new Date(date));
					this.disabled.dates.push(new Date(date));
				}
			});	
		}
	}
</script>
<style>
	input {
		padding: .3em .3em;
	    font-size: 100%;
	    border: 1px solid #ccc;
	    width: 100%
	}
</style>