<template>
    <li class="nav-item dropdown">
        <a role="button" 
        	class="nav-link dropdown-toggle" 
        	data-toggle="dropdown" aria-haspopup="true" 
        	aria-expanded="false">Messages
        	<span class="badge badge-danger" v-if="countInboxes">{{ countInboxes }}</span>
        </a>
        <div class="dropdown-menu">
            <p class="text-center">Latest Messages</p>
            <div class="dropdown-divider"></div>
            <div v-for="inbox in inboxes">
                <img :src="inbox.withUser.avatar" alt="avatar">
                <span v-if="currentlyLogin == inbox.thread.sender.id" class="fa fa-reply"></span>
                <span><a href="http://client.saamin.com/messages/{{inbox.withUser.id}}" @click="viewMessage(inbox.thread.id, inbox.withUser.id)" class="dropdown-item">{{ inbox.withUser.firstname }} {{ inbox.withUser.lastname }} - {{ inbox.thread.message }}</a></span>
            </div>
        </div>
    </li>
</template>
<script>
	export default {
		data(){
			return {
				inboxes: []
			}
		},
		ready(){
			let self = this;
	        let pusher = new Pusher('d7e7d0020692c21b1624', {
	            authEndpoint: 'http://saamin.com/api/v1/pusher/auth',
	            cluster: 'ap1',
	            encrypted: true
	        });
			let channelInbox = pusher.subscribe('private-inbox.'+currentlyLogin);
	        channelInbox.bind('event-private-inbox', function(response){
	            self.$set('inboxes', response.data);
	        });
			self.getInbox();
		},
		computed: {
			countInboxes: function() {
	            let totalCount = 0;
	            for(let value of this.inboxes){
	                if(value.thread.is_seen == 0 && currentlyLogin != value.thread.sender.id){
	                    totalCount += 1;
	                }
	            }
	            return totalCount;
	        }
		},
		methods: {
	        getInbox(){
	            this.$http.get('http://saamin.com/api/v1/users/' + currentlyLogin + '/messages').then((response) => {
	                this.$set('inboxes', response.body.data);
	            })
	        },
	        viewMessage(messageId, senderId){
            	this.$http.get('http://saamin.com/api/v1/users/' + senderId + '/messages/' + messageId,{
		            params: {currentlyLogin: currentlyLogin}
		        })
		    }
		}
	}
</script>