html, body{
	height: 100%;
}

a:hover,
a:visited,
a:focus{
	text-decoration: none;
}


.signup-or-separator{
	background: none;
    height: 34px;
    position: relative;
    text-align: center
}

.signup-or-separator hr{
    margin: -16px auto 10px;
    width: 100%;
}
.text-or-separator{
    display: inline-block;
    padding: 2px;
}

.login-text{

}
.userImg img{
	width: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

.user{
	margin-top: 6px;
	font-size: 17px;
}

.dropdown-menu{
    right: 0 !important;
    left: auto;
}

.button{
	color: #4C5DC9;
	border-color: #4C5DC9;
	border: 1px solid #4C5DC9;
}

.button-md{
	padding: 23px 20px;
	font-size: 18px;
	line-height: 18px;
	border-radius: 0;
	min-width: 232px;
}

.button-lg{
	padding: 25px 50px;
	font-size: 35px;
	line-height: 30px;
}

.hero_bg{
    background-image: url(../img/bg-paisley.jpg);
    background-repeat: no-repeat;
    background-color: #87ceeb;
    background-position: center;
    padding-top:108px !important;
    height: 100%; 
}

.help-page{
	width: 50% !important;
}

#header-carousel{
	height:100%;
}

#header-carousel .carousel-item{
	width: 95%;
	margin: 0 auto;
}

.jumboTransparent{
background-color: rgba(234, 232, 232, 0.8);
text-transform: uppercase;
height: 420px;
width: 95%;
margin: auto;
animation-delay: 1s;
}

.jumboTransparent h1{
font-weight: bold;
}

.jumboTransparent h1 span{
	font-size: 90px;
	letter-spacing: 5px;
}

.search-form{
margin: 0 auto;
width: 40%;
}

.search-form input{
	font-size: 18px;
}

.search-form .button-holder{
	text-align: center;
	margin-top: 10px;
}

.search-form .btn:hover{
	color: #fff;
	border-color: #5bc0de;
	transition: .3s;				
}

/*.btn{
	background-color: #87ceeb;
}*/


.callout{
	position: relative;
	text-align: center;
	z-index: 0;
	height: 450px;
 	padding: 0;
}

.callout .img{
	padding: 0;
	height: 100%;
	width: 100%;
	filter: grayscale(100%);
}

.callout .button{
    opacity: 0;
    position: absolute;
	display: block;
	margin: auto;
    top: 10%;
    left: 30%;
    background: transparent;
    font-weight: bold;
    color: #8FCBE5;
    border: 2px solid #8fcBe5;
    border-radius: 1.25rem;
    font-size: 75px;	
   
}

.callout:hover > .button{
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 0.5s linear;	
}	

.callout:hover .overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 1s ease;
}

.callout:hover img{
	filter: none;
}

.buyImg:hover{
	opacity: 0.5;
	background-size: cover;
	background-color: #87ceeb;
}

.buyImg{
	padding: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#map{
	width: 100%;
    height: 400px;
    background-color: grey;
}

.textcolor{
	color: #87ceeb;
}

.loginBg{
	height: 100%;
	width: 100%;	
}

.loginForm{
	background:rgba(0,0,0,0.4);
	color: #fff;
	max-width: 500px;
	margin: 0 auto;
	padding: 15px 40px;	
}

.registerForm{
	background:rgba(0,0,0,0.4);
	color: #fff;
	max-width: 500px;
	padding:15px 40px;
}

.loginBg{
	background-image: url(../img/bg-girl.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.registerBg{
	background-image: url(../img/bg-home.jpg);
	width: 100%;
	height: 100%;
}

.dashboardBg{
	background-image: url('../img/dashboard-bg.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}

#name{
	text-transform: capitalize;
}

/*ABOUT*/
.slide img{
	width: 100%;
	height: 350px;
}

.first-row{
	background-color: #5bc0de;
	color: #fff;
	padding: 15px;

}
.first-row hr{
	 border: 1.5px solid #FF8463;
}
.first-row .header{
	color: #FFCD63;
}
.first-row .name{
	color: #064D61;
}
.second-row{
	background-color: #FFD063;
	color: #ffffff;
	padding: 15px;
	height: 470px
}
.second-row hr{
	 border: 1.5px solid #FFB300;
}
.second-row .header{
	color: #986B03;

}

.third-row{
	background-color: #FF7863;
	color: #ffffff;
	padding: 40px;
	top: -105px;
	height: 364px;
}

.third-row hr{
	border: 1.5px solid #981703;
}

.third-row .header{
	color: #FFCD63;
}

.fourth-row{
	background-color: #FF7863;
	color: #ffffff;
	padding: 40px;
	top: -105px;
	height: 364px;

}
.fourth-row hr{
	border: 1.5px solid #981703;
}
.fourth-row .header{
	color: #FFCD63;
}

.fifth-row{
	background-color: #5bc0de;
	color: #fff;
	padding: 15px;

}
.fifth-row hr{
	 border: 1.5px solid #FF8463;
}
.fifth-row .header{
	color: #FFCD63;
}
.fifth-row .name{
	color: #064D61;
}

/*FAQ*/

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}  

textarea {
    width: 500px;
    height: 150px;
}
div .jumbotron{
	padding: 1rem !important;
}

.contact{
	background-color: #87ceeb;
	color: #fff;
}

.contactForm{
	background: #fff;
	color: #000;
	padding: 20px;
}

.btnContact{
	background-color: #ffffff;
	color: #Afafaf;
}

.h2{
	padding-top: 20px;
}

/*Footer*/

footer{
	text-align: center;
	
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #A9A9A9;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer-company{
	padding: 15px 0px;
}

.footer-social{
	padding:10px;
}

.footer-btn {
	padding-top: 10px;
	color: #777777;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.btn-back-top{
	background-color: #eee;
}


/*
 * Main content
 */


#page-wrapper{
	padding:0 15px;
	min-height:568px;
	background-color:#fff
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/**
 * Search input
 */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

.aa-input-search {
  padding: 12px 28px 12px 12px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  box-sizing: border-box;
  color: #333;
 }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
  pointer-events: none; }

.aa-hint {
  color: #e4e4e4; }

.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box; 
  width: 100%;
}

.aa-suggestion {
  width: 100%;
  z-index: 1000000;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9; }

.aa-suggestions-category {
  z-index: 1000000;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(228, 228, 228, 0.6);
  border-top: 2px solid rgba(228, 228, 228, 0.6);
  padding: 6px 12px;
  color: #a9a9a9; 
 
}

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px; 
  width: 100%;
}
.algolia-autocomplete{
	width: 100%;
}

@media (min-width:768px){
	#page-wrapper{
		position:inherit;
		margin:0 0 0 250px;
		padding:0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.reset-img{
	background-image: url(../img/reset.png);
	height: 100%;  
    background-position: center;
}

.reset-pass-btn{
	padding: 5% 0% 0% 15%;
}

.form-horizontal{
	background:rgba(0,0,0,0.3);
	color: #fff;
	width: 500px;
	padding:15px 40px;
	border-radius: 20px;
}
.form-horizontal hr{
	border: 1.5px solid #fff;
}

.reset-btn{
	margin-left: 20%;
}
.reset-pg{
	padding: 5% 0% 0% 14%;
}

#video-dropzone, #video-dropzone-modal{
	position: relative;
	height: 200px;
}

#video-dropzone .dz-preview,
#video-dropzone-modal .dz-preview,
#add-video-modal .dz-preview{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.video .embed-responsive-item{
	z-index: 1;
}

.video .embed-responsive .overlay{
	z-index: 10;
	padding: 10px 10px;

}

.video .embed-responsive .overlay .dropdown{
	z-index: 10;
	background: transparent;
	border: transparent;
}

.video .embed-responsive .overlay .dropdown:not(.open){
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}

.video .embed-responsive:hover > .overlay .dropdown{
	visibility: visible;
	opacity: 1;
}

.video .embed-responsive .overlay .dropdown-menu{
	top: auto;
	right: 0;
	left: auto;
}

.video .embed-responsive .overlay .btn:after{
	display:none;
}

.upload-new-vid-container{
	text-align: center;
    font-size: 60px;
    padding-top: 40px;
}

.upload-new-vid-container a{
	text-align: center;
    font-size: 15px;
    padding: 90px 50px;
    color: #000;
    border: 2px dashed #000;
    font-weight: bold;
}

	
.upload-new-vid-container a:hover,
.upload-new-vid-container a:visited{
	text-decoration: none;
	color: #000;
}
/*Dashboard-customer*/

.dashboard-nav .nav-link{
	padding-top: 7px;
}

.dashboard{
	margin-left: 15%;
	padding:1px 16px;
	background-color: #ccc;
	height: 100%;
	
}

.user-profile{
	padding: 5%;
}

.box-profile-img{
	height: 125px;
	width: 125px;
	border: 2px dashed #fff;
	margin-left: auto;
	margin-right: auto;
}

/*Dashboard agent*/
.dashboard-agent{
    margin: 20px 0px 20px 0px;
}
.dashboard-agent-body{
	background-color: #484848;
	color: #fff;
}

.panel-dashboard{
	margin-bottom: 25px;
}

.agent{
	border: 1px solid #dce0e0;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.agent-image{
	display: block;
}

.img-responsive{
	width: 100% ;
	height: auto;
}

.list-profile-agent{
	padding: 0;
	list-style: none;
}

.btn-contrast{
    background-color: #484848;
    color: #fff;
}

.link-reset{
	color: #fff;
}

.card .jumbotron{
	border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.photo-card .card-deck #upload-new-photo{
	text-align: center;
    font-size: 14px;
    padding: 80px 20px;
	text-transform: none;
	font-weight: bold;
	color: #000;
}

.photo-card .card-deck #upload-new-photo .upload-new-photo-container{
	padding: 80px 20px;
	 border: 2px dashed #000;
}

.photo-card .card-deck .image-container .space{
	height: 10px;
	width: 100%;
	min-height: 5px;
    width: 100%;
    display: block;
}

.photo-card .card-deck img{
	z-index: 1;
	height: 100%;
	width: 100%;
}

.photo-card .card-deck .image-container{
	position: relative;
}

.card-img{
	max-width: 100px;
	max-height: 100px;
}
.photo-card .card-deck .overlay{
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
}

.photo-card .card-deck .overlay .btn{
	border-radius: 0;
}

.photo-card .card-deck .overlay .btn:after{
	display: none;
}

.photo-card .image-container .dropdown-menu{
	top: auto;
	right: 0;
	left: auto;
}

.photo-card .card-deck .overlay .dropdown:not(.open){
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}

.photo-card .card-deck .image-container:hover > .overlay .dropdown{
	visibility: visible;
	opacity: 1;
}
