.chat {
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	color: #434651;
}

.chat-history{
	padding: 30px 30px 20px;
	border-bottom: 2px solid white;
	height: 575px;
	overflow-y: scroll;
	.message-data{
		backgorund-color: blue;
	}
	.message-data-time{
		color:#a8aab1;
		padding-left: 6px;
	}
	.message{
		color: white;
		padding: 18px 20px;
		line-height: 26px;
		font-size: 16px;
		border-radius: 7px;
		margin-bottom: 30px;
		width:90%;
		position: relative;
	}
	.message:after{
		bottom: 100%;
		left: 7%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #86BB71;
		border-width: 10px;
		margin-left: -10px;
	}
	.my-message{
		background: #86BB71;
	}
	.other-message {
		background: #94C2ED;
	}
	.other-message:after{
		border-bottom-color: #94C2ED;
  		left: 93%;
	}

}

.chat-message{
	padding: 30px;
	textarea{
		width: 100%;
		padding: 10px 20px;
		font: 16px/22px "Lato", Arial, sans-serif;
  		margin-bottom: 10px;
  		border-radius: 5px;
  		resize: none;
	}
	font-size: 16px;
  	color: gray;
  	cursor: pointer; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}